/** login **/
.change_link {
  color: #fff;
}
.change_link a {
  color: #fff;
}
.login_title {
  color: #fff;
}
.login_copyright {
  color: #cecece;
}
.login_copyright a {
  color: #fff;
}
.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #FF7052;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0;
}
.legend:after {
  content: "";
  background-image: url(../../img/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 210px -10px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 10px;
  top: 5px;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #0f1f33;
}
.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #FF7052;
  color: #fff;
  outline: 0;
}
.login {
  position: relative;
  top: 50%;
  width: 350px;
  display: table;
  margin: -150px auto 0 auto;
  background: #fff;
  border-radius: 4px; }

.login .fa-paw {
  font-size: 26px; }

a.hiddenanchor {
  display: none; }

.login_wrapper {
  right: 0px;
  margin: 0px auto;
  max-width: 350px;
  position: relative; }

.registration_form, .login_form {
  position: absolute;
  top: 0px;
  width: 100%; }

.registration_form {
  z-index: 21;
  opacity: 0;
  width: 100%; }

.login_form {
  z-index: 22; }

#signup:target ~ .login_wrapper .registration_form, #signin:target ~ .login_wrapper .login_form {
  z-index: 22;
  animation-name: fadeInLeft;
  animation-delay: .1s; }

#signup:target ~ .login_wrapper .login_form, #signin:target ~ .login_wrapper .registration_form {
  animation-name: fadeOutLeft; }

.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both; }

/** /login **/
/** signup **/
.register_legend {
  background: #09dc71;
}
.register_submit {
  border: 1px solid #09dc71;
  color: #09dc71;
}
.register_submit:hover,
.register_submit:focus {
  background: #09dc71;
}
.login_box {
  padding: 20px;
  margin: auto; }

.left {
  float: left; }

.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.login_content {
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  min-width: 280px; }

.login_content a,
.login_content .btn-default:hover {
  text-decoration: none; }

.login_content a:hover {
  text-decoration: underline; }

.login_content form {
  margin: 30px 0;
  position: relative; }

#username {
  background-position: 10px 10px !important; }

#password {
  background-position: 10px -53px !important; }

.login_content form div a {
  font-size: 12px;
  margin: 10px 0; }

.reset_pass {
  margin-top: 10px !important; }

.login_content div .reset_pass {
  margin-top: 13px !important;
  margin-right: 39px;
  float: right; }

.separator {
  border-top: 1px solid #D8D8D8;
  margin-top: 10px;
  padding-top: 10px; }

.button {
  background: #f7f9fa;
  background: linear-gradient(top, #f7f9fa 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #CFD5D9;
  padding: 15px 0; }

.login_content form input[type="submit"], #content form .submit {
  float: left; }

header {
  width: 100%; }
