{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ company.name }} / Dashboard{% endblock title %}

{% block content %}
    <div class="right_col" role="main">

        <!-- top tiles -->
        <div class="row tile_count">
            <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Jobs Created</span>
                <div class="count">{{ jobs_count }}</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Active Jobs</span>
                <div class="count green">{{ active_job_count }}</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Company Administrators</span>
                <div class="count">{{ collaborator_count }}</div>
            </div>
        </div>
        <!-- /top tiles -->

        <!-- jobs created table -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Jobs Created</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a href="{% url 'jobs:create' company.pk %}"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            The following jobs have been created by your company.
                        </p>
                        <table id="datatable-fixed-header" class="table table-striped jambo_table">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Location</th>
                                    <th>Salary</th>
                                    <th>Applicants</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                               {% for job in jobs %}
                                    <tr>
                                        <td>{{ job.title }}</td>
                                        <td>{{ job.location }}</td>
                                        <td>{{ job.salary }}</td>
                                        <td>{{ job.applicant_count }}</td>
                                        <td>{{ job.is_active }}</td>
                                        <td>
                                            <a href="{{ job.get_absolute_url }}">
                                                View <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /jobs created table -->

        <div class="row">

            <!-- recent activity -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Recent Activity</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="list-unstyled timeline widget">
                                <li>
                                    <div class="block">
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                            </h2>
                                            <div class="byline">
                                                <span>13 hours ago</span> by <a>Jane Smith</a>
                                            </div>
                                            <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a></p>
                                        </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="block">
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                            </h2>
                                            <div class="byline">
                                                <span>13 hours ago</span> by <a>Jane Smith</a>
                                            </div>
                                            <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a></p>
                                        </div>
                                    </div>
                                 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /recent activity -->

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">

                    <!-- collaborators -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Administrators <small>of {{ company.name }}</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief"><i>Digital Strategist <small>(Company profile owner)</small></i></h4>
                                            <div class="left col-xs-7">
                                                <h2>{{ company.user.get_full_name }}</h2>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-building"></i> Email: {{ company.user.email }}</li>
                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                <img src="{{ company.user.user_profile_pic }}" alt="" class="img-circle img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <a href="{{ company.user.get_absolute_url }}" class="btn btn-primary btn-xs"><i class="fa fa-user"> </i> View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for user in collaborators %}
                                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                        <div class="well profile_view">
                                            <div class="col-sm-12">
                                                <h4 class="brief"><i>Digital Strategist</i></h4>
                                                <div class="left col-xs-7">
                                                    <h2>{{ user.get_full_name }}</h2>
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-building"></i> Email: {{ user.email }}</li>
                                                    </ul>
                                                </div>
                                                <div class="right col-xs-5 text-center">
                                                    <img src="{{ user.user_profile_pic }}" alt="" class="img-circle img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                    <a href="{{ user.get_absolute_url }}" class="btn btn-primary btn-xs"><i class="fa fa-user"> </i> View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- /collaborators -->

                </div>
            </div>

        </div>

    </div>
{% endblock content %}
