<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="404 Error Page."/>
    <meta charset="utf-8">
    <meta name="application-name" content="KnobLinx"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/favicon/favicon-196x196.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="128x128" href="{% static 'img/favicon/favicon-128x128.png' %}" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'img/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'img/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'img/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'img/favicon/mstile-310x310.png' %}" />

    <title>KnobLinx / ?</title>

    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Theme Sytle -->
    <link href="{% static 'custom/css/search.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom/css/style.min.css' %}" rel="stylesheet"/>
  </head>
  <body>
    <!-- preloader -->
    <div class="preloader">
      <div class="loader fa-spin"></div>
    </div>
    <!-- /preloader -->

    <!-- main section -->
    <section class="error-contents">
      <div class="container">
        <div class="row relative animated" data-animation="contentAnim" data-animation-delay="1800">
          <div class="col-md-12">
            <div class="error-title">Whoops!</div>
            <div class="error-text">Page not found</div>
            <div class="image-divider") center center no-repeat;"></div>
            <div class="error-text space">or</div>
            <a href="{% url 'home' %}" class="home-button">Back Home</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /main section -->

    <!-- search-section -->
    <section class="search-section">
      <div class="container">
        <div class="row">
          <div id="morphsearch" class="morphsearch animated" data-animation="fromTop288" data-animation-delay="2000">
            <form class="morphsearch-form" role="search" action="{% url 'search' %}">
              <input class="morphsearch-input" type="search" name="q" placeholder="Search Something"/>
              <button class="morphsearch-submit" type="submit">Search</button>
            </form>

            <!-- morphsearch-content -->
            <div class="morphsearch-content">
              <div class="col-md-4 link-box">
                <h2><span class="fa fa-file-text-o"></span>Pages</h2>
                <ul class="page-links">
                  <li>
                    <span class="fa fa-chevron-right"></span><a href="{% url 'terms_of_use' %}">Terms of Use</a>
                  </li>
                  <li>
                    <span class="fa fa-chevron-right"></span><a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                  </li>
                  <li>
                    <span class="fa fa-chevron-right"></span><a href="{% url 'contact:inquiry' %}">Contact Us</a>
                  </li>
                </ul>
              </div>
              <!-- <div class="col-md-8 col-md-offset-2">
                <ul class="social-links">
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li><a class="instagram" href="#"><i class="fa fa-instagram ing"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin ing"></i></a></li>
                </ul>
              </div> -->
            </div>
            <!-- /morphsearch-content -->
            <span class="morphsearch-close"></span>
          </div>
        </div>
      </div>
    </section>
    <!-- /search-section -->
    
    <!-- background section -->
    <section class="error-background">
      <img class="cloud-small cloud animated" src="{% static 'img/cloud-1.png' %}" data-animation="fromLeft25" data-animation-delay="3000" data-xrange="20" data-yrange="20" alt="">
      <img class="cloud-big cloud animated" src="{% static 'img/cloud-1.png' %}" data-animation="fromLeft8" data-animation-delay="3500" data-xrange="30" data-yrange="30" alt="">
      <img class="cloud-rain cloud animated" src="{% static 'img/cloud-2.png' %}" data-animation="fromRight8" data-animation-delay="4000" data-xrange="40" data-yrange="40" alt="">
      <img class="rock animated" src="{% static 'img/rock.png' %}" data-animation="fromRight0" data-animation-delay="600" alt="">
      <img class="sea-island animated" src="{% static 'img/sea-island.png' %}" data-animation="fromLeft0" data-animation-delay="600"  alt="">
      <img class="shark animated" src="{% static 'img/shark.png' %}" data-animation="fromLeft70" data-animation-delay="3200" alt="">
    </section>
    <!-- /background section -->
    
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <!-- Plax -->
    <script src="{% static 'vendors/plax/plax.min.js' %}" type="text/javascript"></script>
    <!-- Classie -->
    <script src="{% static 'vendors/classie/classie.min.js' %}" type="text/javascript"></script>
    <!-- Custom Scripts -->
    <script src="{% static 'custom/js/404_template.min.js' %}" type="text/javascript"></script>
  </body>
</html>
