<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta name="description" content="">
        <meta name="author" content="KnobLinx">
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="application-name" content="KnobLinx"/>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/favicon/favicon-196x196.png' %}" />
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}" />
        <link rel="icon" type="image/png" sizes="128x128" href="{% static 'img/favicon/favicon-128x128.png' %}" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo" content="{% static 'img/favicon/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo" content="{% static 'img/favicon/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo" content="{% static 'img/favicon/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo" content="{% static 'img/favicon/mstile-310x310.png' %}" />

        <title>{% block title %}{% endblock title %}</title>

        <!-- Bootstrap -->
        <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{% static 'vendors/jqvmap/jqvmap.min.css' %}" rel="stylesheet">
        <!-- jQuery custom content scroller -->
        <link href="{% static 'vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
        <!-- Extra stylesheets -->
        {% block stylesheets %}{% endblock stylesheets %}
        <!-- Custom Theme Styles -->
        <link href="{% static 'custom/css/custom.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'custom/css/black.css' %}" rel="stylesheet"> -->
        <link href="{% static 'custom/css/user_dash/metisMenu.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'custom/css/user_dash/only_dashboard.css' %}" rel="stylesheet"> -->
        <link href="{% static 'custom/css/user_dash/panel.css' %}" rel="stylesheet">
        <!-- Extra in-line style -->
        {% block css %}{% endblock css %}
    </head>

    <body class="nav-md">
        {% spaceless %}
        <div class="container body">
            <div class="main_container">
                {% if request.user.is_authenticated %}
                    <!-- Sidebar menu -->
                    {% include "general/_sidebar.html" %}
                    <!-- Top navigation -->
                    {% include "general/_top_navigation.html" %}
                {% endif %}
        
                <!-- Body content -->
                {% block content %}{% endblock content %}
            </div>
        </div>

        <!-- jQuery -->
        <script src="{% static 'vendors/jquery/jquery.min.js' %}" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <!-- FastClick -->
        <script src="{% static 'vendors/fastclick/fastclick.js' %}" type="text/javascript"></script>
        <!-- NProgress -->
        <script src="{% static 'vendors/nprogress/nprogress.js' %}" type="text/javascript"></script>
        <!-- Noty -->
        <script src="{% static 'vendors/noty/packaged/jquery.noty.packaged.min.js' %}" type="text/javascript"></script>
        <!-- Extra scripts -->
        {% block js %}{% endblock js %}
        <!-- Custom theme scripts -->
        <script src="{% static 'custom/js/custom.min.js' %}" type="text/javascript"></script>
        <!-- Extra in-line JavaScript scripts -->
        {% block scripts %}{% endblock scripts %}
        <!-- Extra in-line jQuery scripts -->
        <script type="text/javascript">
            $(document).ready(function(){
                {% if request.user.is_authenticated %}
                    $.ajax({
                        url: "{% url 'get_company_ajax' %}",
                        type: "POST",
                        data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
                        success: function(data){
                            var companyUsername = data.company_username
                            if (companyUsername) {
                                $("#company-register").hide();
                                $("#company-logo").attr("src", data.company_logo);
                                $("#company-name").text(data.company_name);
                                $("a.company-url").attr("href", "{% url 'profile' 333 %}".replace(333, companyUsername));
                                $("a.company-dash").attr("href", "{% url 'company_dash' 333 %}".replace(333, companyUsername));
                                $(".company-url").show();
                                $("#company-sidebar").show();
                            }
                        },
                        error: function(rs, e){ }
                    })
                {% endif %}

                // top banner messages
                {% if messages %}
                    {% for message in messages %}
                        var n = noty({
                            theme: 'relax', // or 'defaultTheme'
                            type: '{% if "success" in message.tags %}success{% elif "info" in message.tags %}information{% elif "warning" in message.tags %}warning{% else %}error{% endif %}',
                            text: '{% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}',
                            dismissQueue: true,
                            animation: {
                                open: {height: 'toggle'},
                                close: {height: 'toggle'},
                                easing: 'swing',
                                speed: 500 // opening & closing animation speed
                            },
                            timeout: 3000, // false
                            modal: true,
                            callback: {
                                onShow: function() {},
                                afterShow: function() {},
                                onClose: function() {},
                                afterClose: function() {},
                                onCloseClick: function() {},
                            },
                        });
                    {% endfor %}
                {% endif %}

                {% block jquery %}{% endblock jquery %}
            });
        </script>

        {% endspaceless %}
    </body>
</html>
