{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}KnobLinx / Job Report{% endblock title %}

{% block stylesheets %}
  <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/slider/slider.css' %}" rel="stylesheet" >
{% endblock stylesheets %}

{% block css %}
  <style>
    .slider-handle {
      background: #2a3f54; } 
    .slider-selection {
      background: #2a3f54; }
  </style>
{% endblock css %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left"><h3>{{ job.title }} <small>Report</small></h3></div>
      </div>
  
      <div class="clearfix"></div>

      <!-- applicants -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Applicants</h2>
              <!-- <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul> -->
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <p>
              <span style="margin-right:1.2em;">Minimum GPA: </span>
              <input id="gpa-slider" class="slider form-control" data-slider-id='gpa-slider' type="text" />
              <span id="gpa-value" style="margin-left:1em;">0.00</span>
            </p>
            <div class="clearfix"></div>
            <div class="x_content">
              <table id="datatable-buttons" class="table table-striped jambo_table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>University</th>
                    <th>GPA</th>
                    <th>Resume</th>
                    <th>Cover Letter</th>
                  </tr>
                </thead>

                <tbody>
                 {% for obj in applicants %}
                    <tr>
                      <td><a href="{{ obj.user.get_absolute_url }}">{{ obj.name }}</a></td>
                      <td><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></td>
                      <td>{{ obj.university }}</td>
                      <td>{{ obj.user.gpa }}</td>
                      <td><a href="{{ obj.resume.url }}" download>Download</a></td>
                      <td>
                        {% if obj.cover_letter %}
                          <a href="#" data-toggle="modal" data-target="#coverLetterModal">View</a>
                          <!-- cover letter modal -->
                          <div class="modal fade" id="coverLetterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">{{ obj.name }} Cover Letter</h4>
                                </div>
                                <div class="modal-body">
                                  {{ obj.cover_letter }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /cover letter modal -->
                        {% else %}
                          None
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /applicants -->
      <br>
      <br>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'vendors/slider/bootstrap-slider.js' %}"></script>
{% endblock js %}

{% block scripts %}
  <script>
    $(document).ready(function($) {
      // DataTable buttons
      var handleDataTableButtons = function() {
        if ($("#datatable-buttons").length) {
          $("#datatable-buttons").DataTable({
            dom: "Bfrtip",
            buttons: [
              {
                extend: "copy",
                className: "btn-sm",
                exportOptions: {
                  columns: [0,1,2,3]
                }
              },
              {
                extend: "csv",
                className: "btn-sm",
                exportOptions: {
                  columns: [0,1,2,3]
                }
              },
              {
                extend: "excel",
                className: "btn-sm",
                exportOptions: {
                  columns: [0,1,2,3]
                }
              },
              {
                extend: "pdfHtml5",
                className: "btn-sm",
                exportOptions: {
                  columns: [0,1,2,3]
                }
              },
              {
                extend: "print",
                className: "btn-sm",
                exportOptions: {
                  columns: [0,1,2,3]
                }
              },
            ],
            responsive: true
          });
        }
      };

      TableManageButtons = function() {
        "use strict";
        return {
          init: function() {
            handleDataTableButtons();
          }
        };
      }();

      TableManageButtons.init();

      // Slider functions
      $("#gpa-slider").slider({
          step: 0.01,
          value: 0,
          min: 0,
          max: 4,
      });

      var mySlider = $("input.slider").slider();

      $.fn.dataTable.ext.search.push(
          function (settings, data, dataIndex) {
              var min = parseFloat( mySlider.slider('getValue'), 0 );
              var gpa = parseFloat( data[3] ) || 0; // use data for the gpa column
       
              if (min <= gpa) { 
                return true; 
              }
              return false;
          }
      );

      mySlider.on('slide', function() {
        var value = mySlider.slider('getValue');
        $('#gpa-value').html(value);
        $("#datatable-buttons").DataTable().draw();
      });

    });
  </script>
{% endblock scripts %}
