{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}KnobLinx / Job Report{% endblock title %}

{% block stylesheets %}
  <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/slider/slider.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block css %}
  <style>
    .slider-handle { background: #2a3f54; }
    .slider-selection { background: #2a3f54; }
    .adv-filter { margin-bottom: 18px; }
    .accepted { color:#01bc8c; }
    .rejected { color:#ef6f6c; }
  </style>
{% endblock css %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left"><h3>{{ job.title }} <small>Report</small></h3></div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Applicants <span id="applicant-count"></span></h2>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="row adv-filter">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Minimum GPA:</span>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input id="gpa-slider" class="slider form-control" data-slider-id='gpa-slider' type="text" />
                <span id="gpa-value" style="margin-left:1em;">0.00</span>
              </div>
            </div>
            <div class="row adv-filter">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Universities:</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="height:150px; overflow:auto;">
                {% for obj in job.universities.all %}
                  <input type="checkbox" value="{{ obj }}" name="universities" class="flat" checked />
                  {{ obj }}
                  <br>
                {% endfor %}
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Majors:</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="height:150px; overflow:auto;">
                {% for obj in job.degrees.all %}
                  <input type="checkbox" value="{{ obj }}" name="degrees" class="flat" checked />
                  {{ obj }}
                  <br>
                {% endfor %}
              </div>
            </div>
            <div class="row adv-filter">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Academic Year:</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                {% for obj in years %}
                  <input type="checkbox" value="{{ obj }}" name="years" class="flat" checked />
                  {{ obj }}
                  <br>
                {% endfor %}
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Opportunity Sought:</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                {% for obj in opp_sought %}
                  <input type="checkbox" value="{{ obj.1 }}" name="opportunities" class="flat" checked />
                  {{ obj.1 }}
                  <br>
                {% endfor %}
              </div>
            </div>
            <div class="row adv-filter">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Highest Degree Earned:</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                {% for obj in highest_degrees %}
                  <input type="checkbox" value="{{ obj.1 }}" name="highest_degrees" class="flat" checked />
                  {{ obj.1 }}
                  <br>
                {% endfor %}
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <span>Applicant Status:</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                {% for obj in statuses %}
                  <input type="checkbox" value="{{ obj.1 }}" name="statuses" class="flat" checked />
                  {{ obj.1 }}
                  <br>
                {% endfor %}
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
              <table id="datatable" class="table table-striped jambo_table dt-responsive nowrap" width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>GPA</th>
                    <th>Undergrad University</th>
                    <th>Resume</th>
                    <th>Cover Letter</th>
                    <th>Undergrad Degree(s)</th>
                    <th>Graduate University</th>
                    <th>Graduate Degree(s)</th>
                    <th>Academic Year</th>
                    <th>Opportunity Sought</th>
                    <th>Highest Degree Earned</th>
                    <!-- hidden columns -->
                    <th>Applicant Profile</th>
                    <th>Applicant Video</th>
                    <th>Applicant Resume</th>
                    <th>Applicant Status</th>
                    <!-- /hidden columns -->
                  </tr>
                </thead>
                <tbody>
                 {% for obj in applicants %}
                    <tr class="applicant_item">
                      <td></td>
                      <td>
                        <i class="fa fa-check accept_btn{% if obj.status == 1 %} accepted{% endif %}" aria-hidden="true" data-pk="{{ obj.pk }}"></i>
                        &nbsp;
                        <i class="fa fa-times reject_btn{% if obj.status == 2 %} rejected{% endif %}" aria-hidden="true" data-pk="{{ obj.pk }}"></i>
                      </td>
                      <td>
                        <a href="{{ obj.user.get_absolute_url }}" style="text-decoration:underline;">
                          {{ obj.user.get_full_name }}
                        </a>
                      </td>
                      <td><a href="mailto:{{ obj.email }}">{{ obj.email|truncatechars:15 }}</a></td>
                      <td>{{ obj.user.gpa }}</td>
                      <td>{{ obj.user.undergrad_uni }}</td>
                      <td>
                        <a href="{{ obj.resume.url }}" download>
                          <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td>
                        {% if obj.cover_letter %}
                          <a href="#" data-toggle="modal" data-target="#coverLetterModal">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </a>
                          <!-- cover letter modal -->
                          <div class="modal fade" id="coverLetterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">{{ obj.name }} Cover Letter</h4>
                                </div>
                                <div class="modal-body">
                                  {{ obj.cover_letter }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /cover letter modal -->
                        {% else %}
                          None
                        {% endif %}
                      </td>
                      <td>
                        {% for degree in obj.user.get_undergrad_degrees_names %}
                          {% if not forloop.last %}{{ degree }}, {% else %}{{ degree }}{% endif %}
                        {% endfor %}
                      </td>
                      <td>{{ obj.user.grad_uni }}</td>
                      <td>
                        {% if obj.user.get_grad_degrees_names %}
                          {% for degree in obj.user.get_grad_degrees_names %}
                            {% if not forloop.last %}{{ degree }}, {% else %}{{ degree }}{% endif %}
                          {% endfor %}
                        {% else %}
                          None
                        {% endif %}
                      </td>
                      <td>{{ obj.user.year_verbose }}</td>
                      <td>{{ obj.user.opp_sought_verbose }}</td>
                      <td>{{ obj.user.degree_earned_verbose }}</td>
                      <!-- hidden columns -->
                      <td>{{ protocol }}://{{ domain }}{{ obj.user.get_absolute_url }}</td>
                      <td>{{ obj.user.video }}</td>
                      <td>{{ protocol }}://{{ domain }}{{ obj.resume.url }}</td>
                      <td class="applicant_status">{{ obj.status_verbose }}</td>
                      <!-- /hidden columns -->
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/slider/bootstrap-slider.js' %}"></script>
  <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
{% endblock js %}

{% block scripts %}
  <script>
    function containsAny(haystack, needles){
        for (var i = 0; i < needles.length; i++){
            if (haystack.indexOf(needles[i]) !== -1){ return true; }
        }
        return false;
    }

    $(document).ready(function($){
        // DataTable buttons
        var handleDataTableButtons = function(){
            if ($("#datatable").length) {
                $("#datatable").DataTable({
                    dom: "Bfrtip",
                    responsive: true,
                    buttons: [
                        {
                            extend: "copy",
                            className: "btn-sm",
                            exportOptions: { columns:[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] },
                            title: "{{ job.title }} Report"
                        },
                        {
                            extend: "csv",
                            className: "btn-sm",
                            exportOptions: { columns:[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] },
                            title: "{{ job.title }} Report"
                        },
                        {
                            extend: "excel",
                            className: "btn-sm",
                            exportOptions: { columns:[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] },
                            title: "{{ job.title }} Report"
                        },
                        {
                            extend: "pdfHtml5",
                            className: "btn-sm",
                            exportOptions: { columns:[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] },
                            title: "{{ job.title }} Report",
                            download: 'open'
                        },
                        {
                            extend: "print",
                            className: "btn-sm",
                            exportOptions: { columns:[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] },
                            title: "{{ job.title }} Report"
                        },
                    ],
                    "infoCallback": function(settings, start, end, max, total, pre){
                        $("#applicant-count").html("( " + total + " )");
                        return "Showing " + start + " to " + end + " of " + total + " entries"
                            + ((total !== max) ? " (filtered from " + max + " total entries)" : "");
                    },
                    "order": [[2, 'asc']],
                    "columnDefs": [
                        { "targets":[14, 15, 16], "visible":false, "searchable":false },
                        { "targets":[0, 1, 6, 7, 14, 15, 16, 17], "orderable":false }
                    ]
                });
            }
        };

        TableManageButtons = function(){
            "use strict";
            return {init: function(){ handleDataTableButtons(); }};
        }();
        TableManageButtons.init();

        // Slider
        $("#gpa-slider").slider({ step:0.01, value:0, min:0, max:4 });

        // Filtering
        var mySlider = $("input.slider").slider();
        var universities = $('[name="universities"]:checked').map(function(){ return this.value; }).toArray().join(',');
        var degrees = $('[name="degrees"]:checked').map(function(){ return this.value; }).toArray().join(',');
        var years = $('[name="years"]:checked').map(function(){ return this.value; }).toArray().join(',');
        var opportunities = $('[name="opportunities"]:checked').map(function(){ return this.value; }).toArray().join(',');
        var highest_degrees = $('[name="highest_degrees"]:checked').map(function(){ return this.value; }).toArray().join(',');
        var statuses = $('[name="statuses"]:checked').map(function(){ return this.value; }).toArray().join(',');

        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex){
                var min = parseFloat(mySlider.slider('getValue'), 0);
                var gpa = parseFloat(data[4]) || 0; // use data for the gpa column
                if (min <= gpa) { return true; } return false;
            }
        );

        $.fn.dataTableExt.afnFiltering.push(function(oSettings, aData, iDataIndex){
            if (containsAny(universities, [aData[5], aData[9]]) &&
                containsAny(degrees, [aData[8], aData[10]]) &&
                years.includes(aData[11]) &&
                opportunities.includes(aData[12]) &&
                highest_degrees.includes(aData[13]) &&
                statuses.includes(aData[17])){
                return true;
            }
            return false;
        });

        mySlider.on('slide', function(){
            $('#gpa-value').html( mySlider.slider('getValue') );
            $("#datatable").DataTable().draw();
        });
        $(':checkbox[name="universities"]').on("ifChanged", function(){
            universities = $('[name="' + this.name + '"]:checked').map(function(){
                return this.value;
            }).toArray().join(',');
            $("#datatable").DataTable().draw();
        });
        $(':checkbox[name="degrees"]').on("ifChanged", function(){
            degrees = $('[name="' + this.name + '"]:checked').map(function(){
                return this.value;
            }).toArray().join(',');
            $("#datatable").DataTable().draw();
        });
        $(':checkbox[name="years"]').on("ifChanged", function(){
            years = $('[name="' + this.name + '"]:checked').map(function(){
                return this.value;
            }).toArray().join(',');
            $("#datatable").DataTable().draw();
        });
        $(':checkbox[name="opportunities"]').on("ifChanged", function(){
            opportunities = $('[name="' + this.name + '"]:checked').map(function(){
                return this.value;
            }).toArray().join(',');
            $("#datatable").DataTable().draw();
        });
        $(':checkbox[name="highest_degrees"]').on("ifChanged", function(){
            highest_degrees = $('[name="' + this.name + '"]:checked').map(function(){
                return this.value;
            }).toArray().join(',');
            $("#datatable").DataTable().draw();
        });
        $(':checkbox[name="statuses"]').on("ifChanged", function(){
            statuses = $('[name="' + this.name + '"]:checked').map(function(){
                return this.value;
            }).toArray().join(',');
            $("#datatable").DataTable().draw();
        });

        $(".accept_btn").click(function(e) {
            e.preventDefault();
            var t = $(this),
                a = $(e.target);
            t.addClass("accepted");
            t.closest("td").find(".reject_btn").removeClass("rejected");
            $.ajax({
                type: "POST",
                url: "{% url 'jobs:accept_app_ajax' job.pk %}",
                data: {
                    app_pk: $(this).attr("data-pk"),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                dataType: "json",
                success: function(e) {
                    $("#datatable").DataTable().cell(t.parent().parent().find('.applicant_status')).data(e.new_status)
                    $("#datatable").DataTable().draw();
                },
                error: function() {
                    alert("Sorry, there was an error with your request. Please try again later.");
                }
            })
        });
        $(".reject_btn").click(function(e) {
            e.preventDefault();
            var t = $(this),
                a = $(e.target);
            t.addClass("rejected");
            t.closest("td").find(".accept_btn").removeClass("accepted");
            $.ajax({
                type: "POST",
                url: "{% url 'jobs:reject_app_ajax' job.pk %}",
                data: {
                    app_pk: $(this).attr("data-pk"),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                dataType: "json",
                success: function(e) {
                    $("#datatable").DataTable().cell(t.parent().parent().find('.applicant_status')).data(e.new_status)
                    $("#datatable").DataTable().draw();
                },
                error: function() {
                    alert("Sorry, there was an error with your request. Please try again later.");
                }
            })
        });
    });
  </script>
{% endblock scripts %}
