{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}KnobLinx / Password Reset{% endblock title %}

{% block css %}
<style>
    body {
        background: #0f1f33;
    }
</style>

{% endblock css %}

{% block content %}
    <div class="row" style="margin-top: 3em;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-unlock fa-4x" aria-hidden="true"></i></i></h3>
                            <h2 class="text-center">Reset your password.</h2>
                            <p>Please enter your new password below.</p>
                            <div class="panel-body">
                                <form class="form form-validation" method="POST" action=".">
                                    {% csrf_token %}
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group {% if form.non_field_errors %}password-field{% endif %}">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                </span>
                                                <input class="form-control" type="password" placeholder="New password" name="password_new" required />
                                                <span class="form-invalid-data-info"></span>
                                            </div>
                                            <div class="input-group {% if form.non_field_errors %}password-field{% endif %}">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                </span>
                                                <input class="form-control" type="password" placeholder="Confirm new password" name="password_new_confirm" required />
                                                <span class="form-invalid-data-info"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            var errorField = $('.password-field');
            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('{% for error in form.non_field_errors %}{{ error }}{% endfor %}');
        });
    </script>
{% endblock scripts %}
