{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}KnobLinx / Forgot Password?{% endblock title %}

{% block css %}
  <style>
      body { background: #0f1f33; }
  </style>
{% endblock css %}

{% block content %}
  <div class="row" style="margin-top: 3em;">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Forgot your password?</h2>
              <p>You can reset your password here.</p>
              <div class="panel-body">
                <form class="form" method="POST" action=".">
                  {% csrf_token %}
                  <fieldset>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input class="form-control" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" placeholder="Email address" name="email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <input class="btn btn-lg btn-primary btn-block" value="Send Reset Email" type="submit">
                    </div>
                    <div class="form-group">
                      <p>
                        Already have an account? <a href="{% url 'authentication:auth_login_register' %}">Log in</a>
                      </p>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
